@page "/users"

<PageTitle>Użytkownicy</PageTitle>

<h1>Użytkownicy</h1>

<p class="">
    @message
</p>


@code {
    private string message = string.Empty;

    private void OnClick()
    {
        
    }

    private void OnAddToList()
    {
        
    }   
}
